<div class="pageBlock heroContainer containerBg containerFlex" [style.backgroundImage]="'linear-gradient(to bottom, #00000000, #000000CC), url(' + backgroundImageSrc + ')'">
  <div class="left contentFlex">
    <div class="texts">
      <h1>{{name}}</h1>
      <span>{{title}}</span>
    </div>
    <div class="links">
      <image-button *ngFor="let link of heroLinks;" 
        [href]="link.link" [src]="link.imageSrc" [width]="link.width" />
    </div>
  </div>
  <div class="right">

  </div>
  <div class="overlay"></div>
  
</div>