.heroContainer {
  height: 60svh;
  
  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .texts {
      color: var(--font-color-dm);

      h1 {
        font-size: 4rem;
        margin: 0px;
      }
    }
    
    .links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
    }
  }

  .right {
    flex-grow: 1;
  }
}

@media screen and (min-width: 500px) {
  .heroContainer {
    // padding: 56px;
    // padding-bottom: 16px;
    height: 60svh;
  
    .left {
      align-items: center;
      height: fit-content;

      .links {
        width: fit-content;
      }
    }

    .right {
      display: none;
    }
  }
}


.containerBg {
  background-position-y: 62%;
  background-size: cover;
}

.containerFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
}

.contentFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}
